[defaults]
collections_paths = /home/student/mycollections:/home/student/.ansible/collections:/usr/share/ansible/collections
inventory = ./inventory
# IMPORTANT: use your venv python for modules (IONOS SDK + PyYAML live here)
#interpreter_python = /home/student/venv-ionos/bin/python
# Modern YAML output: built-in default callback supports this
stdout_callback = ansible.builtin.default
result_format = yaml
retry_files_enabled = False
