[galaxy]
server_list = published,rh-certified,community,automation_hub,galaxy,custom_collection


[galaxy_server.published]
url=https://bastion.example.com/api/galaxy/
token=8318d09096417b8537fd180370dbaf2efab59cb7

[galaxy_server.rh-certified]
url=https://bastion.example.com/api/galaxy/content/rh-certified/
token=8318d09096417b8537fd180370dbaf2efab59cb7

[galaxy_server.community]
url = https://galaxy.ansible.com/

[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/content/published/
token=8318d09096417b8537fd180370dbaf2efab59cb7

[galaxy_server.galaxy]
url=https://galaxy.ansible.com/
token=8318d09096417b8537fd180370dbaf2efab59cb7

[galaxy_server.custom_collection]
url=https://bastion.example.com/api/galaxy/content/custom_collection/
token=8318d09096417b8537fd180370dbaf2efab59cb7

[defaults]
collections_paths = /home/student/mycollections:/home/student/.ansible/collections:/usr/share/ansible/collections
inventory = ./inventory
# IMPORTANT: use your venv python for modules (IONOS SDK + PyYAML live here)
interpreter_python = /home/student/venv-ionos/bin/python
# Modern YAML output: built-in default callback supports this
stdout_callback = ansible.builtin.default
result_format = yaml
retry_files_enabled = False
